- title @competition.display_name

%h2
  Competition starts at
  = @competition.formatted_time

- if @competition.theme
  %h3
    The theme is
    = @competition.theme
  %p
    Time until submission
  %p
    Submit your application
    = link_to "here", new_competition_submission_path(:competition_id => @competition.id)
- else
  %h3
    The theme is undecided. Vote on it
    %a(href='#') here

- if @competition.submissions.length > 0
  %h4
    Submissions
    = form_tag submission_votes_path :competition_id => @competition.id do
      - @competition.submissions.each do |submission|
        %label
          %span= submission.name
          = radio_button_tag :submission_id, submission.id, SubmissionVote.find_by_user_id_and_submission_id(current_user.id, submission.id) ? true : false, :disabled => SubmissionVote.find_by_user_id_and_competition_id(current_user.id, @competition.id) ? true : false

      - unless SubmissionVote.find_by_user_id_and_competition_id(current_user.id, @competition.id)
        %button Vote
